
body{
    margin: 0; 
    padding: 0; 
    font-family: "Open sans", sans-serif;
   font-family: sans-serif; 
   font-size: 17px;
   background: #f4f4f4;
  
}

.tlo{
    background-image: url("home.jpg");
    color: #ffffff;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10em 0;
    width: 100%;
    height: 100hv;
    position: relative;

   
}
.parallax--bg{
    transition: initial;
}

nav{
    color: rgb(255, 255, 255);
    float: right;
    width: 100%;
    background-color: none;
    position: fixed; 
    z-index: 999; 
}

ul{
    width: 100%;
    padding: 0px;
    margin: 2 auto;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    height: 20px;
}

.navigation a{
    padding: 10px;
    border: 1px solid white;
    text-decoration: none;
    color: white;   
}

li a:hover{
    background-color: rgb(255, 255, 255);
    color:  mediumaquamarine;
}

  .toggle{
      width: 100%;
      padding-right: 35px;
      padding-top: 10px;
      background: rgb(34, 187, 154);
      text-align: right;
      box-sizing: border-box;
      color: white;
      font-size: 20px;
      display: none;   
}  

@media screen and (max-width:768px){
    .toggle{
        display: block;
        height: 40px;
        position: fixed;
        z-index: 999;
    
    }
    header{
        width: 100%;
    }
    .tlo{
        background-image: url("home.jpg");
        color: #ffffff;
        width: 100%;
        background-size:cover;
        background-position: center;
        background-attachment: fixed;
        padding:  10em 0;
        
    }

    .menu{
        position: fixed;
        
    }

    nav
    {
    margin-top: 38px;
    
    }

    ul{
        width: 100%;

        display: none;
        background-color: rgb(34, 187, 154);
    }
    ul li{
        
        display: block;
        text-align: center;
    }
    .navigation a{
    border:none;
    text-decoration: none;
    color: white;
    

   }
   
      .active{
          display: block;  
      }


      .text
      {    
         flex: 100%;
          float: none;
          
      }
      
      .form{
          
        width: 100%;
          flex: 100%;
          float: none;
      }

      .container{
          flex: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    input{
        min-width: 80%;
        height: 30px;
    }
    
    textarea{
        min-width:80%;
        margin-top: 5px; 
    }

   
    
}


@media screen and (max-width:860px){


    .container-about{
        display: flex;
        flex-direction: column;
    }
    
    .photo{
        flex: 100%;
        
    }
    
    .me{
        min-height: 80%;
        min-width: 80%;
        margin-left:20%;
        margin-right: 20%;
        
    }
    
    .aboutme{
        flex: 100%; 
    }

    .name{
        text-transform: uppercase;
        color:rgba(34, 187, 154, 0.685);
        font-weight: bold;
        margin-top: 10%;
        margin-left:20%;
        margin-right: 20%;
    }
    .job{
        margin-top: 10px;
        margin-left:20%;
        margin-right: 20%;
    }
}


h1{
    
    text-align: center;
    line-height: 200px;
    color: #fff;
    font-size: 40px;
}


.title{
    text-align: center;
    color: rgba(34, 187, 154, 0.685);
    font-size: 30px;
    
    margin-top: 50px;
    margin-bottom: 2%;
   
}


.home-background{
    text-align: center;
    
}
 .check{
     padding: 10px;
    color: rgb(29, 165, 135);
    border: 1px solid rgb(29, 165, 135);

    line-height: 90px;
    margin-top:  70%;
    font-weight: bold;
    font-size: 22;
    
    
}

.check:hover
{
    padding: 10px;
   color: white;
   border: 1px solid rgb(34, 187, 154);
   line-height: 90px;
   margin-top:  70%;
   font-weight: bold;
   font-size: 22;
   background-color: rgb(34, 187, 154);
   }


.textAbout{
    margin-left: 10%;
    margin-right:10%;
    line-height: 30px;
    text-align: justify;
    
}

.name{
    text-transform: uppercase;
    color:rgba(34, 187, 154, 0.685);
    font-weight: bold;
    margin-top: 10%;
    margin-left: 20%;
}
.job{
    margin-top: 10px;
    margin-left: 20%;
}

.contactFont{
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    max-width: 80%;
    margin-left: 15%;
    margin-right:5%;
  
}

#about{
    height:100vh;
    text-align: center;
    width: 100%;
    background-color: white;
    display: table;  
}


.container-about{
    display: flex;
    min-height: 100%;
}

.photo{
    flex: 30%;
   
    
    
}

.me{
    background-size: cover;
   border-radius: 50%;
    min-height: 40%;
    min-width: 40%;
    margin-top: 5%;
    margin-left: 20%;
    
    
}

.aboutme{
    flex: 70%;
   
}

#works{
      
}

#contact{
    height:100vh;
    width: 100%;
    background-color: white;
    display: table;  
}

.container{
    display: flex;
    
}
.text
{
    margin-bottom: 50px;
    flex: 50%;
    
}

.form{
    
    align-content: center;
   flex: 50%;
  
}
form{
   
}

input{
    
    width: 60%;
    height: 30px;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, .0);
    border: 2px solid rgba(34, 187, 154, 0.685);
    color: rgba(34, 187, 154, 0.685);
}

textarea{
    width:60%;
    margin-top: 5px;
    margin-left: 10%;
    background: rgba(0, 0, 0, .0);
    border: none;
    border: 2px solid rgba(34, 187, 154, 0.685);
    color: rgba(34, 187, 154, 0.685);
}

.mess{
    
}
#mess{
    margin-bottom: 30px;  
}

.form{
    
    color: rgba(34, 187, 154, 0.685);
    font-size: 15px;
  
    margin-bottom: 30px;
}
.wart{
    color: black;
    text-align: left;
    margin-left: 10%;

}

button{
    
    width: 100px;
    padding: 7px;
    margin-left: 10%;
    background-color:  rgba(34, 187, 154, 0.685);
    color: white;
    font-size: 15;
    border: none;
  
}
button:hover{
    background-color: white;
    color: rgba(34, 187, 154, 0.685);
    border:1px solid rgba(34, 187, 154, 0.685);
    



}
